<input hidden value="{% url 'follow' 0 %}" id="follow_url"/>
<input hidden value="{{csrf_token}}" id="csrf_token"/>

<div class="card profile-card">
    <div class="row no-gutters">
        <div class="col-md-4 details position-relative">
            <div class="card-body">
                <h3 class="full-name">{{ account.first_name }} {{ account.last_name }}
                    {% if account.user.is_trusted %}
                    <i class="bi bi-check-circle text-success"></i> <!-- Trusted icon -->
                    {% endif %}
                    {% if user.is_authenticated and user.id != account.user.id %}                    
                    <button id="followbtn" title ="follow" style="background:none; border: none;"
                            onclick="follow('{{account.user.id}}')">
                        <i id ="star" class="bi bi-star{%if is_following %}-fill{%endif%}  "></i>
                    </button>
                    {%endif%}

                </h3>
                <p><em>City: {{ account.city }}</em></p>
                <p><em>Email: {{ account.user.email }}</em></p>
                <p><em>Date of Birth: {{ account.date_of_birth }}</em></p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body bio">
                <p>{{ account.bio }}</p>
            </div>
        </div>
    </div>
    {% if user.is_authenticated and user.id == account.user.id %}
        <a href="{% url 'account_update' user.id 0%}" class="position-absolute" style="bottom: 10px; right: 10px;">
            <i class="bi bi-pencil-square" style="font-size: 1.5rem;"></i>
        </a>
    {% endif %}


    {% if user.is_authenticated and user.id != account.user.id and user.is_staff %}
    <a href="{% url 'toggle_trust_status' account.user.id %}" 
        class="position-absolute" 
        style="top: 10px; right: 10px;">
        {% if account.user.is_trusted %}
            <i class="fas fa-thumbs-down text-danger" style="font-size: 1.5rem;" title="Untrust User"></i> <!-- Icon to untrust user -->
        {% else %}
            <i class="fas fa-thumbs-up text-success" style="font-size: 1.5rem;" title="Trust User"></i> <!-- Icon to trust user -->
        {% endif %}
    </a>
    {% endif %}
</div>