{% extends "base.html" %}
{% load static %}

{% block h2 %}Account Details{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/profile_card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/post_card2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/side_panel.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
{% endblock style %}

{% block content %}
<input id="has_next" hidden value="{{has_next}}"></input>

<div class="container mt-4">
    
    <!--Profile Card-->
    {% include 'mainapp/account/_profile_card.html' %}
    
    <!-- Side Panel -->
    {% include 'mainapp/post/_posts_side_panel.html' %}
    
    <!-- Posts Section -->
    <div id="posts-container" class="mt-4">
        {% include 'mainapp/post/_posts_section.html' %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'mainapp/js/post_card.js' %}"></script>
<script>
   
$(document).ready(function(){
    let page = 1;
    let loading = false;

    function loadContent(url) {
        if (loading){ console.log("returned"); return;}
        loading = true;

        $.ajax({
            url: url,
            success: function(data) {
                $('#posts-container').append(data.content);
                show_less_more();
                $('#has_next').val(data.has_next)
                loading = false ;               
            },
            error: function() {
                loading = false;
            }
        });
    }

    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 10) {
            if($('#has_next').val()=='false'){console.log("no more posts");return;}
            else{console.log("loading extra posts")}
            page++;
            var url = '?page=' + page + '&nav=' + $('.sub-bar.active').attr('href').split('=')[1];
            loadContent(url);
        }
    });

    $('.sub-bar').click(function(e){
            e.preventDefault();
            $('.sub-bar').removeClass('active');
            $(this).addClass('active');
            $('#posts-container').empty(); 
            page = 1; // Reset page counter
            var url = $(this).attr('href') + '&page=' + page;
            loading=false;
            loadContent(url);
        });
    });
</script>
{% endblock %}