{% extends "base.html" %}
{% load static %}

{% block h2 %}Account Details{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/pagenation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/profile_card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/post_card.css' %}">
{% endblock style %}

{% block content %}
<input id="has_next" hidden value="{{has_next}}"></input>

<div class="container mt-4">
    
    {% include 'mainapp/account/_profile_card.html' %}
    <!-- Nav Bar -->
    <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
            <a class="nav-link {% if not request.GET.nav or request.GET.nav == 'posts' %}active{% endif %}" href="?nav=posts">Posts</a>
        </li>
        {% if user.is_trusted %}
        <li class="nav-item">
            <a class="nav-link {% if request.GET.nav == 'approved' %}active{% endif %}" href="?nav=approved">Approved Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.GET.nav == 'disapproved' %}active{% endif %}" href="?nav=disapproved">Disapproved Posts</a>
        </li>
        {% endif %}
    </ul>

    <!-- Posts Section -->
    <div id="posts-container" class="mt-4">
        {% include 'mainapp/post/_posts_section.html' %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'mainapp/js/post_card.js' %}"></script>
<script>
   
$(document).ready(function(){
    let page = 1;
    let loading = false;

    function loadContent(url) {
        if (loading){ console.log("returned"); return;}
        loading = true;

        $.ajax({
            url: url,
            success: function(data) {
                $('#posts-container').append(data.content);
                show_less_more();
                $('#has_next').val(data.has_next)
                loading = false ;               
            },
            error: function() {
                loading = false;
            }
        });
    }

    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 10) {
            if($('#has_next').val()=='false'){console.log("no more posts");return;}
            else{console.log("loading extra posts")}
            page++;
            var url = '?page=' + page + '&nav=' + $('.nav-link.active').attr('href').split('=')[1];
            loadContent(url);
        }
    });

    $('.nav-link').click(function(e){
            e.preventDefault();
            $('.nav-link').removeClass('active');
            $(this).addClass('active');
            $('#posts-container').empty(); 
            page = 1; // Reset page counter
            var url = $(this).attr('href') + '&page=' + page;
            loading=false;
            loadContent(url);
        });
    });
</script>
{% endblock %}