{% extends "base.html" %}
{% load static %}

{% block h2 %}Account Details{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/profile_card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/post_card2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/side_panel.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
{% endblock style %}

{% block content %}

<input value="false" hidden id="loading"></input> 
<input value="2" hidden id="page"></input> 
<div class="container mt-4">
    
    <!--Profile Card-->
    {% include 'mainapp/account/_profile_card.html' %}
    
    <!-- Side Panel -->
    <div class="side-panel">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a id="all_posts_nav" class="nav-link sub-bar {% if not request.GET.nav or request.GET.nav == 'posts' %}active{% endif %}" href="?nav=posts">
                    {{account.first_name}} Posts <i class="bi bi-newspaper float-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-bar {% if request.GET.nav == 'verified' %}active{% endif %}" href="?nav=verified">
                    Verified by {{account.first_name}}<i class="bi bi-check-circle float-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-bar {% if request.GET.nav == 'disproven' %}active{% endif %}" href="?nav=disproven">
                    Disproven by {{account.first_name}}<i class="bi bi-x-circle float-right"></i>
                </a>
            </li>
        </ul>
    </div>
    
    <!-- Posts Section -->
    <div id="posts-container" class="mt-4">
        {% include 'mainapp/post/_posts_section.html' %}
    </div>
</div>
<input value="false" hidden id="loading"></input> 
<input value="1" hidden id="page"></input> 

{% endblock %}

{% block script %}
    <script src="{% static 'mainapp/js/creating_post.js' %}"></script>
    <script src="{% static 'mainapp/js/change_status.js' %}"></script>
    <script src="{% static 'mainapp/js/delete_post.js' %}"></script>
    <script src="{% static 'mainapp/js/refresh_status.js' %}"></script>
    <script src="{% static 'mainapp/js/follow.js' %}"></script>
{% endblock %}
