{% extends "base.html" %}
{% load static %}

{% block h2 %}Welcome to News Share{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/post_card2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/side_panel.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
{% endblock style %}

{% block content %}
<input id="has_next" hidden value="{{has_next}}"></input>
<div class="container mt-4 ">
    <!-- Inline Post Creation Form -->
    <div class="card shadow-lg bg-light border-0">
        <div class="card-body p-4">
            {% if user.is_authenticated %}
            <form id="postForm" method="post" action="{% url 'index' %} ">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <textarea class="form-control" id="post-content" name="post_text" rows="4" maxlength="1000"
                    placeholder="What's happening ?" style="resize: none; border-radius: 10px; padding: 10px;"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Post</button>
            </form>
            {% else %}
            <form id="postForm" method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <textarea  disabled class="form-control" id="post-content" name="post_text" rows="4" maxlength="1000"
                    placeholder="Please Sign-in to post" style="resize: none; border-radius: 10px; padding: 10px;"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-primary" disabled>Post</button>
            </form>
            {% endif %}
                
        </div>
    </div>
    
    
    
    <!-- Side Panel -->
    {% include 'mainapp/post/_posts_side_panel.html' %}
    
    <!-- Posts Section -->
    <div id="posts-container" class="mt-4">
        {% include 'mainapp/post/_posts_section.html' %}
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'mainapp/js/post_card.js' %}"></script>
<script>

$(document).ready(function(){
    let page = 1;
    let loading = false;

    function loadContent(url) {
        if (loading){ console.log("returned"); return;}
        loading = true;

        $.ajax({
            url: url,
            success: function(data) {
                $('#posts-container').append(data.content);
                show_less_more();
                $('#has_next').val(data.has_next)
                loading = false ;               
            },
            error: function() {
                loading = false;
            }
        });
    }

    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 10) {
            if($('#has_next').val()=='false'){console.log("no more posts");return;}
            else{console.log("loading extra posts")}
            page++;
            var url = '?page=' + page + '&nav=' + $('.sub-bar.active').attr('href').split('=')[1];
            loadContent(url);
        }
    });

    $('.sub-bar').click(function(e){
            e.preventDefault();
            $('.sub-bar').removeClass('active');
            $(this).addClass('active');
            $('#posts-container').empty(); 
            page = 1; // Reset page counter
            var url = $(this).attr('href') + '&page=' + page;
            loading=false;
            loadContent(url);
        });

    function showFlashMessage(message, type) {
        var alertDiv = $('<div class="alert alert-' + type + '" role="alert">' + message + '</div>');
        $('#postForm').prepend(alertDiv);
        setTimeout(function() {
            alertDiv.fadeOut(function() {
                $(this).remove();
            });
        }, 2000);
    }
    
    $('#postForm').submit(function(e) {
    e.preventDefault();  // Prevent the default form submission

    // Display loading state
    var submitButton = $(this).find('button[type="submit"]');
    var originalButtonText = submitButton.text();
    submitButton.text('Posting...').prop('disabled', true);

    $.ajax({
        type: 'POST',
        url: '{% url "create_post" %}',
        data: $(this).serialize(),
        success: function(response) {
            console.log("Full response: ", response); 
            if (response.success) {
                // Handle success response (e.g., refresh posts list, show success message)
                $('#all_posts_nav').click();
                showFlashMessage("Post created successfully!", "success");
                $('#postForm')[0].reset();  // Reset the form after successful submission
            } else {
                // Inspect the error object and handle errors
                var errorMsg = response.errors?.post_text?.[0]?.message ?? "Unknown error occurred"; // Optional chaining to safely access the nested properties
                showFlashMessage(errorMsg, "danger");
            }
            // Reset button state
            submitButton.text(originalButtonText).prop('disabled', false);
        },
        error: function(xhr, status, error) {
            console.error("Error creating post: ", error);
            showFlashMessage("UnknownError, please try again in a few moments", "danger");
            // Reset button state
            submitButton.text(originalButtonText).prop('disabled', false);
        }
    });
    });

});

</script>

{% endblock %}
