{% extends "base.html" %}
{% load static %}

{% block h2 %}Welcome to News Share{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/post_card2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/side_panel.css' %}">
{% endblock style %}

{% block content %}

<input value="false" hidden id="loading"></input> 
<input value="2" hidden id="page"></input> 
<input hidden value="{% url 'autocomplete_users'%}" id="autocomplete_users"/>

<div class="container mt-4 ">
    <div class="card mt-3 p-2 shadow">
        <div class="card-body p-0 position-relative">
            <input type="text" id="user-search-input" 
            class="form-control pr-5" 
            placeholder="Type to search users..." 
            oninput="searchUsers(this.value)">
            <i class="fas fa-search text-primary position-absolute " 
            style="right: 15px; top: 50%; transform: translateY(-50%);">
            </i>
            <div id="suggestions-box" class=" suggestions-box"></div>
        </div>
    </div>
</div>

<div class="container mt-4 ">
    <!-- Inline Post Creation Form -->
    <div class="card shadow-lg bg-light border-0">
        <div class="card-body p-4">
            {% if user.is_authenticated %}
            <form id="postForm" method="post" action="{% url 'create_post' %} " 
                onsubmit="create_post(this,event)">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <textarea class="form-control" id="post-content" name="post_text" rows="4" maxlength="1000"
                    placeholder="What's happening ?" style="resize: none; border-radius: 10px; padding: 10px;"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Post</button>
            </form>
            {% else %}
            <form id="postForm" method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <textarea  disabled class="form-control" id="post-content" name="post_text" rows="4" maxlength="1000"
                    placeholder="Please Sign-in to post" style="resize: none; border-radius: 10px; padding: 10px;"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-primary" disabled>Post</button>
            </form>
            {% endif %}
                
        </div>
    </div>
    
    
    
    <!-- Side Panel -->
    {% include 'mainapp/post/_posts_side_panel.html' %}
    
    <!-- Posts Section -->
    <div id="posts-container" class="mt-4">
        {% include 'mainapp/post/_posts_section.html' %}
    </div>
</div>

{% endblock %}
{% block script %}
    <script src="{% static 'mainapp/js/creating_post.js' %}"></script>
    <script src="{% static 'mainapp/js/search_users.js' %}"></script>
    <script src="{% static 'mainapp/js/change_status.js' %}"></script>
    <script src="{% static 'mainapp/js/delete_post.js' %}"></script>
    <script src="{% static 'mainapp/js/refresh_status.js' %}"></script>
{% endblock %}
